@page
@model WebAPI.Pages.ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width" />
        <title>Idea Jar - Reset Password</title>
    </head>
    <body>
      <style>
        html {
            background: linear-gradient(#7b88d1, #d5f7ff);
            height: 100%;
            font-family: sans-serif;
            color: rgb(70, 70, 70);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .card {
            background: rgba(255, 255, 255, 0.4);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            box-shadow: 0px 10px 30px rgba(165, 165, 165, 0.3);
            border-radius: 15px;
            margin: 2rem 0;
        }
        h1 {text-align: center;}
        .btn {
            border-radius: 10px;
            border: none;
            background: #00aaff;
            cursor: pointer;
            display: inline-block;
            padding: .5rem 1rem;
            transition: background .1s ease-in-out;
            font-size: 1.2rem;
            color: #fff;
        }
        .btn:hover { background: #5cc8ff;}
        
        .form-input {
          display: block;
          width: 100%;
          padding: .75rem;
          border: 1px solid #ddd;
          border-radius: 10px;
          outline: none;
          background: #eee;
          transition: background .2s border-color .2s;
        }

        .form-input:focus {
          border-color: #7b88d1;
          background: #fff;
        }
        table {
          padding: 2rem;
        }

      </style>
        <h1>Reset your password</h1>
        <form class="card" action="/Api/Auth/ResetPassword" method="POST">
            <input type="hidden" name="Token" value="@Request.Query["Token"]" />
            <input type="hidden" name="Email" value="@Request.Query["Email"]" />
            <table>
                <tr>
                    <td>
                        New Password
                    </td>
                    <td>
                        <input class="form-input" type="password" name="NewPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Confirm Password
                    </td>
                    <td>
                        <input class="form-input" type="password" name="ConfirmPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="btn" type="submit" value="Reset" />
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>